/* *{
    margin: 0;
    padding: 0;
} */

.container{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 50rem;
    border: 1px black solid;
    padding: 1rem 5rem;
    /* min-height: 29.7cm; */
}

h2{
    font-size: 20px;
    color: rgb(0, 187, 0);
}

h3{
    font-size: 15px;
    color: rgb(55, 158, 255);
}